* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    background: linear-gradient(to bottom right, #4b6cb7, #6a3093);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  canvas {
    display: block;
  }
  